* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify; }

#wrapper {
  overflow: hidden;
  position: relative; }

#content {
  margin: 0rem auto;
  max-width: 55rem;
  padding: 3rem 2rem;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  border-bottom: 1px dotted #32a198;
  color: #32a198;
  text-decoration: none; }

a:hover {
  border-bottom: 1px solid #999999;
  color: #999999; }

blockquote {
  border-left: 0.25rem solid #e9a734;
  color: #555555;
  font-size: 1.2em;
  font-weight: 200;
  padding-left: 1em; }

img {
  max-width: 100%; }

#site-header #logo {
  height: 30rem;
  position: relative; }
#site-header .letters {
  font-family: Georgia, Times, serif;
  font-size: 8rem;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition-delay: 0.5s;
  transition-duration: 0.5s;
  transition-property: opacity; }
  #site-header .letters a {
    color: #333333; }
  #site-header .letters .a, #site-header .letters .and, #site-header .letters .o {
    height: 14rem;
    line-height: 14rem;
    position: absolute;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  #site-header .letters .a, #site-header .letters .o {
    text-align: center;
    width: 14rem; }
  #site-header .letters .a {
    position: absolute;
    right: 0%;
    top: 50%; }
  #site-header .letters .and {
    margin: -5px 0px 0px 1px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #site-header .letters .o {
    left: 0%;
    position: absolute; }
#site-header .bar {
  background-color: #333333;
  height: 30rem;
  left: 50%;
  position: absolute;
  top: 0%;
  transition-duration: 1s;
  transition-property: -webkit-transform;
  transition-property: -moz-transform;
  transition-property: -ms-transform;
  transition-property: transform;
  width: 1px; }
  #site-header .bar:nth-of-type(odd) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  #site-header .bar:nth-of-type(even) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #site-header .bar:nth-of-type(1), #site-header .bar:nth-of-type(6) {
    height: 35rem;
    top: -9rem; }
  #site-header .bar:nth-of-type(2), #site-header .bar:nth-of-type(5) {
    height: 25rem;
    top: 4.5rem; }
  #site-header .bar:nth-of-type(1) {
    margin-left: -7.5rem; }
  #site-header .bar:nth-of-type(5) {
    background-color: #e9a734;
    margin-left: 12rem; }
  #site-header .bar:nth-of-type(2) {
    margin-left: -12rem; }
  #site-header .bar:nth-of-type(6) {
    margin-left: 7.5rem; }
#site-header.scrolled .letters {
  opacity: 0;
  transition-delay: 0s; }
#site-header.scrolled .bar:nth-of-type(odd) {
  -webkit-transform: rotate(45deg) translate(-200%, -200%);
  -moz-transform: rotate(45deg) translate(-200%, -200%);
  -ms-transform: rotate(45deg) translate(-200%, -200%);
  transform: rotate(45deg) translate(-200%, -200%); }
#site-header.scrolled .bar:nth-of-type(even) {
  -webkit-transform: rotate(-45deg) translate(-200%, -200%);
  -moz-transform: rotate(-45deg) translate(-200%, -200%);
  -ms-transform: rotate(-45deg) translate(-200%, -200%);
  transform: rotate(-45deg) translate(-200%, -200%); }

.meta {
  color: #aaaaaa; }
  .meta .author {
    text-transform: capitalize; }

.post {
  margin-bottom: 3em; }
  .post header a {
    border-color: #333333;
    color: #333333; }
    .post header a:hover {
      border-color: #32a198;
      color: #32a198; }
  .post .content {
    font-size: 1.4rem; }
  .post ul, .post ol {
    margin-left: 1.35em; }
  .post code {
    border: 1px solid #dddddd;
    background-color: #eeeeff;
    padding: 0 0.2em; }
  .post pre {
    border: 1px solid #dddddd;
    background-color: #eeeeff;
    padding: 0 0.4em; }
    .post pre code {
      border: none; }
    .post pre.terminal {
      border: 1px solid black;
      background-color: #333333;
      color: white; }
    .post pre.terminal code {
      background-color: #333333; }

.pagination {
  font-size: small; }
  .pagination a:last-child {
    float: right; }
