<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/syntax.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="alternate" href="/atom.xml" type="application/atom+xml">
  </head>
  <body>
    <div id="wrapper" role="main">
      <div id="content">
        <header id="site-header">
          <div id="logo">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="letters">
              <a href="/">
                <span class="a">A</span>
                <span class="and">+</span>
                <span class="o">O</span>
              </a>
            </div>
          </div>
        </header>

        {{ content }}
      </div>
    </div>

    <script src="/javascripts/jquery-2.1.0.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
